@charset "UTF-8";
/* 共通部分 タイプセレクタ*/
html{
    font-size: 100%;
}
body{
    font-family: "Kiwi Maru", serif;
    color: #3F3F3F;
    font-size:1rem ;
}
a{
    text-decoration: none;
    color: inherit;
    /* inheritは先祖のスタイルを継承する */
}
img{
    max-width: 100%;
    vertical-align: bottom;
    text-align: center;
}

li{
    text-decoration: none;
}


/* レイアウト系設定 */
/* コンテンツ幅 */
.wrapper{
    width: 92%;
    max-width: 980px;
    margin:auto;
}
/* main */


/* ヘッダー */
h1{
    font-size: 20px;
    margin-top: 48px;
    margin-bottom:36px;
    color: #AF7E5E;
    font-family: "Lexend Mega";
    font-weight:400;
}
.header-flex{
    display: flex;
    text-align: 30px;
}

.mainvisual{
    height: 100vh;
}

/* ハンバーガーメニュー用に修正 */
header nav{
    position: fixed;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;  一括して指定できるプロパティ　inset*/
    inset: 0 -100% 0 100%;
    background-color: rgba(255, 236, 220, 0.92);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    z-index: 2;
    color: #AF7E5E;
}

.open header nav{
    /* translateX 水平方向に移動する */
    transform: translateX(-100%);
    opacity: 1;
}


/* サイトからコピペ　メニュー開閉のテキストを隠す目的 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
    height: 100%;
}

.ham-btn{
    /* background-color: rgb(255, 217, 223); */
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    /* ボタンを開いたメニューより前の並び順にする */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
}
/* 3本線の編集 */
.ham-line{
    display: block;
    width: 25px;
    height: 2px;
    background-color: #432;
    margin: auto;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.open .ham-line{
    background-color: transparent;
}

.ham-line::before,.ham-line::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #432;
    position: absolute;
    transition: inherit;
}

.ham-line::before{
    top: -10px;
}
.open .ham-line::before{
    transform: rotate(45deg);
    top: 0;
}

.ham-line::after{
    top: 10px;
}
.open .ham-line::after{
    transform: rotate(-45deg);
    top: 0;
}
.water {
    background-image: url(../img/amy-humphries-S5wUMrXdq1M-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    padding-top: 50px;
    width: 100%;
}
/* .mainvisual{
    height: 700px;
    width: 100%;
    object-fit: cover;
} */
.main-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.875em;
    font-family: "Raleway";
    margin-top: 24px;
    color: #845C42;
}

.main-nav a{
    text-decoration: none;
    transition:all 0.3s ease-in-out;
}
.main-nav li{
    list-style: none;
    margin: 50px;
}

.main-nav a:hover{
    font-weight: bold;
    font-size: 0.975em;
}
/* 制作物 */
.works{
    width: 100%;
    height: 700px;
}
h2{
    font-size: 16px;
    margin-top: 64px;
    padding-top: 40px;
    margin-bottom: 32px;
    font-weight:normal;
    letter-spacing:0.2rem;
    color: #845C42;
}
.works h2::before{
    content: "Works";
    display: block;
    font-size: 55px;
    color:rgba(255,212,175,0.68);
    font-family: "Lexend Mega";
    font-weight:300;
}

.works img{
    aspect-ratio: 1/0.6;
    object-fit: cover;
}

.works{
    text-align:center;
}

.works-card{
    border:1px currentColor solid;
    margin-bottom:67px ;
    width: 400px;
}

.tittle{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.btn{
    display: inline-block;
    align-items: center;
    color: #845C42;
    background-color: #FFD4AF;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    transition:all 0.3s ease-in-out;
}
.btn:hover{
    background-color: #c0c0c0;
    color: #FFFFFF;
}

/* .swiper-wrapper {
    display: block; /* 縦並びにする */
    /* flex-direction: column;
} */ 

.swiper-slide {
    width: 100%;
    margin-bottom: 16px;
}
.swiper{
    padding-top: 20px;
    padding-bottom: 60px;
}

.swiper-button-prev,
    .swiper-button-next{
        color: rgb(249, 230, 194);
        width: 30px;
        height: 30px;
    }
    
    .swiper-pagination-bullet-active{
        background-color: rgb(255, 229, 182);
    }



/* 自己紹介 */

.about h2::before{
    content: "profile";
    display: block;
    font-size: 55px;
    color:rgba(175,126,94,0.35);
    font-family: "Lexend Mega";
    font-weight:300;
}
.about-img{
    margin-top: 32px;
    padding-bottom: 20px;
    width: 70%;
    aspect-ratio: 1/1;
    border-radius:50%;
    object-fit: cover;

}
.about{
    align-items: center;
    text-align: center;
    background-color: #FFECDC;
    margin-top: 60px;
    padding-bottom: 60px;
}
.about-flex{
    font-size: 15px;
}




/* お問い合わせ */
.contact{
    text-align: center;
    margin-bottom: 40px;
    display: block;
}
.contact h2{
    text-align: center;

}

.contact h2::before{
    content: "Contact";
    display: block;
    font-size: 55px;
    color:rgba(255,212,175,0.68);
    font-family: "Lexend Mega";
    font-weight:300;
}
.contact p{
    margin-top:40px ;
    margin-bottom: 30px;
}
.button-33 {
    position: relative;
    width: 250px;
    margin: .9em 2em;
    padding: .9em 2em;
    color: #bd8c61;
    font-size: 1em;
}

.button-33::before,
.button-33::after {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 1px;
    content: '';
}

.button-33::before {
    top: -1px;
    left: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.button-33::after {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.button-33:hover::before,
.button-33:hover::after {
    width: 100%;
    height: 100%;
    border-color: #bd8c61;
    transition: width .3s ease, height .3s .3s ease;
    background-color: #fff1e5;
}

.button-33 span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-33 span::after {
    display: inline-block;
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #bd8c61;
    border-right: 2px solid #bd8c61;
    content: '';
}

/* フッター */
footer{
    display: block;
    text-align:center;
    background-color: #DDCFC6;
}
footer a{
    text-decoration: none;
}
footer li{
    list-style-type: none;
}

.footer-flex,.footer-flex2{
    display: flex;
    gap: 10px;
    font-size: 11px;
}
.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ワーク一覧ページ */
#works{
    text-align: center;
    margin-top: 100px;
}
.workspage h2::before{
    content: "Works";
    display: block;
    font-size: 55px;
    color:rgba(255,212,175,0.68);
    font-family: "Lexend Mega";
    font-weight:300;
}
.works-wrappe{
    width: 90%;
    max-width: 980px;
}
.works-category{
    text-align: left;
    margin-bottom: 40px;
}
.works-category ul{
    list-style-type: none;
}

.works-post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workspage-card{
    border:1px currentColor solid;
    margin-bottom:67px ;
    width: 400px;
}
.workspage-card img{
    aspect-ratio: 1/0.6;
    object-fit: cover;
    height: 300px;
}
summary{
    list-style: none;
}

/* ワークの作品ページ */

.worksdetail h2{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}
.detail-text li{
    margin-top: 20px;
    list-style: none;
}
.detail-text li div{
    font-size: 18px;
}
.block h2{
    padding-top: 30px;
}
.block-two{
    background-color: rgb(182, 245, 202,0.7);
}

@media(min-width:600px){
    #works-detail h2{
        font-size: 40px;
    }
    .worksdetail{
        margin-top: 100px;
    }
    .worksdetail-flex{
        display: flex;
        gap: 10%;
    }
    .block {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .block-one {
        z-index: 100;
    }
    .block-two {
        width: 100%;
        background: #b3dcc1;
        z-index: 200;
    }
    .block img{
        width: 50%;
        height: auto;
    }
}

/* プロフィールの下層ページ */


.profile h2::before{
    content: "profile";
    display: block;
    font-size: 55px;
    color:rgba(255,212,175,0.68);
    font-family: "Lexend Mega";
    font-weight:300;
}
.top__text h3{
    color: #845C42;
}

.skill ul,.favorite ul{
    list-style: none;
}
.skill h2::before{
    content: "skill";
    display: block;
    font-size: 55px;
    color:rgba(255,212,175,0.68);
    font-family: "Lexend Mega";
    font-weight:300;
}
.favorite h2::before{
    content: "favorite";
    display: block;
    font-size: 55px;
    color:rgba(255,212,175,0.68);
    font-family: "Lexend Mega";
    font-weight:300;
}
.favorite{
    margin-bottom: 50px;
}
.skill__design-wrapper{
    margin-top: 40px;
}


/* -------------------------
TOPへボタン 
   ------------------------- */
.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.01ms ease-out;
    z-index: 9999;
}

/*    ボタン本体 */
#footerButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
    z-index: 19;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hidden img {
    opacity: 0;
    transform: rotate(0deg);
    transition: opacity 0.5s ease 0.3s,
    transform 0.5s ease 0.3s; /* 300ms遅延 */
}

@media(min-width:600px){
    #footerButton{
        bottom: 60px;
        right: 40px;
        width: 100px;
    }

}


/* メディアクエリ */
@media(min-width:600px){
    /* ヘッダー */
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
    }
    .header-flex{
        justify-content: space-between;
    }
    .main-nav{
        line-height: 0;
    }
    .main-nav ul{
        flex-direction: row;
        padding: 5px;
        gap: 10px;
        justify-content: flex-end;
    }

    .ham-btn {
        display: none;
    }
    header {
    position: fixed; /* ここに注目! */
    top: 0;
    z-index: 1000;}

    /* PCではナビを横並びで常時表示する */
    header nav {
        position: static;
        inset: auto;
        opacity: 1;
        transform: none;
        background: none;
    }
    .main-nav {
        gap: 1.5rem;
        font-size: 1rem;
        height: auto;
        display: flex;
    }
    .mainvisual{
        height: 100vh;
    }
    /* about*/
    .about-flex{
        display: flex;
        flex-direction: row-reverse;
        width: 92%;
        max-width: 980px;
        gap: 80px;
        margin:auto;
    }
    .about img{
        width: 50%;
        flex-shrink:0;
        aspect-ratio: 1/1;
        border-radius:50%;
        object-fit: cover;
    }
    .about p{
        margin-top: 180px;
    }
    .about a{
        margin-left: 3rem;
    }    


    .dli-arrow-right {
        display: inline-block;
        vertical-align: middle;
        color: #333;
        line-height: 1;
        position: relative;
        width: 10em;
        height: 0.05em;
        background: currentColor;
    }
    
.dli-arrow-right::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;   /* 先端の長さ */
        height: 20px;  /* 先端の高さ */
        border-top: 0.5px solid;
        transform: rotate(45deg);
        transform-origin: right top;
    }
    .about h2{
        margin-top: 100px;}

    /* works */
    
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-wrapper {
        display: flex; /* Swiperが使うflexレイアウトに戻す */
    }
    
    .swiper-slide {
        margin-bottom: 0; /* 横スライドなので下マージン不要 */
    }
    .more{
        padding-left: 3rem;
    }
    .to_works{
        padding-top: 30px;
        margin-bottom: 40px;
    }

    /* 下層ワーク */
    .works-post{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        align-items: center;
    }
    .works-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* プロフィール */
    .profile{
        margin-top: 100px;
    }


}